<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020606587688-c7dqmi24n05h61pq0rdc8rf4is6cl97i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020606587688-c7dqmi24n05h61pq0rdc8rf4is6cl97i</string>
	<key>API_KEY</key>
	<string>AIzaSyAtWgPHg8koJuKksxTHB66G-0qffcxOwMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1020606587688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snow.gocod.girl.boy</string>
	<key>PROJECT_ID</key>
	<string>snow-browser-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>snow-browser-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020606587688:ios:bf4648843e2956d40fa61d</string>
</dict>
</plist>